

@media screen and (max-width: 45em) {
.ih-item img 
{
  width: 100%;
  height: 20%;
}


.ih-item.square 
{
  display: block;
  margin: 0 auto;
  position: relative;
  width: 50%;
  height: 20%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.img-circle{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 20%;
}

.formob
{
    display: block;
  margin: 0 auto;
  width: 50%;
  height: 20%;
}

.tilerow1
{
padding-top:15%;
}
.tilerow2
{
  margin-top: 0%;
}

.linkrightmainpage {
    border-color: rgba(255, 255, 255, 0.3);
    display: none;
}

.linkdowntechmain {
    border-color: rgba(255, 255, 255, 0.3);
}
.linklefttechmain {
    border-color: rgba(255, 255, 255, 0.3);  
}

.linkrighttechmain {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkuptechevent {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkdownnonmain {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkleftnonmain {
    border-color: rgba(255, 255, 255, 0.3);
}


.linkrightnonmain {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkupnonevent {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkdownonlinemain {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkleftonlinemain {
    border-color: rgba(255, 255, 255, 0.3);
}


.linkrightonlinemain {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkuponlineevent {
    border-color: rgba(255, 255, 255, 0.3);
}

.linkleftaboutpage {
    border-color: rgba(255, 255, 255, 0.3);
}



.paralltech
{
    position: absolute;
    margin-left: -20vh;
    margin-top: 20vh;
      height: 100vh;
      width: 100vh;
}
.parallaxtech1
{
  height: 100vh;
  width: 100vh;
}
.parallnon
{
    position: absolute;
    margin-left: -20vh;
    margin-top: 10vh;
      height: 100vh;
      width: 100vh;
}
.parallaxnon1
{
  height: 100vh;
  width: 100vh;
}
.parallonline
{
    position: absolute;
    margin-left: -5vh;
    margin-top: 30vh;
      height: 100vh;
      width: 60vh;
}
.parallaxonline1
{
  height: 100vh;
  width: 50vh;
}

.footerwrap {
  margin-top: 200%;
  left: 0%;
}
.social-link li a
{

  width:10vh;
  height:10vh;
  line-height:10vh;
  font-size:5vh;
}
.t1
{
display: none;

}
.t2
{
display: none;

}
.t3
{
display: none;

}
.t4
{
display: none;

}
.t5
{
display: none;

}
.t6
{
display: none;

}
.t7
{
display: none;

}
.t8
{
display: none;

}
.t9
{
display: none;

}
.t10
{
display: none;

}
.t11
{
display: none;

}
.t12
{
display: none;

}

.t13
{
display: none;

}
.t14
{
display: none;

}
.t15
{
display: none;

}
.t16
{
display: none;

}
.t17
{
display: none;

}
.t18
{
display: none;

}
.t19
{
display: none;

}
.t20
{
display: none;
}


}